<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; gap: 16px">
    <h1 style="margin: 0">Documentos</h1>
    <div style="display: flex; align-items: center; gap: 8px; flex-wrap: wrap; width: 90%;">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Fecha Desde</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="minDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Fecha Hasta</mat-label>
            <input matInput [matDatepicker]="pickerMaxDate" [(ngModel)]="maxDate">
            <mat-datepicker-toggle matIconSuffix [for]="pickerMaxDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerMaxDate></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button (click)="refreshDocuments()" style="background-color: #eae3db; color: #d1ae6f">Buscar</button>
    </div>
    <div class="content">
        <div style="display: flex; flex-direction: column; gap: 16px;">
            @for (closeSalesDay of closeSalesDays; track closeSalesDay.id) {
                <div style="background-color: lightgray; padding: 10px; border-radius: 15px; cursor: pointer; display: flex; flex-direction: column; gap: 8px" (click)="selectDocument(closeSalesDay)">
                    <p style="margin: 0">Cierre de caja Nro: {{closeSalesDay.id}}</p>
                    <p style="margin: 0">Fecha: {{ closeSalesDay.date | date: 'dd/MM/yyyy' }}</p>
                    <p style="margin: 0">Emitido por: {{closeSalesDay.user.username}}</p>
                </div>
            }
        </div>
        @if (closeSalesDaySelected.show) {
            <div style="display: flex; flex-direction: column; gap: 16px">
                @for (closeSalesDaySale of closeSalesDaySelected.closeSalesDaySales; track closeSalesDaySale.id) {
                    <div style="display: flex; justify-content: space-between; border: solid 1px; border-radius: 15px; padding: 10px;">
                        <div style="display: flex; flex-direction: column; gap: 8px">
                            @for (saleDetail of closeSalesDaySale.sale.detail; track saleDetail.id) {
                                <p style="margin: 0">
                                    {{saleDetail.quantity}} {{saleDetail.product.code}} {{saleDetail.product.price}}
                                    @if (saleDetail.discount) {
                                        <span style="font-style: italic;"> Descuento: {{saleDetail.discount}}</span>
                                    }
                                </p>
                            }
                        </div>
                        <div style="display: flex; flex-direction: column; gap: 8px">
                            @for (paymentMethod of closeSalesDaySale.sale.paymentMethod; track paymentMethod.id) {
                                <p style="margin: 0">{{paymentMethod.type + " S/. " + paymentMethod.amount}}</p>
                            }
                        </div>
                    </div>
                }
                <div style="display: flex; flex-direction: column; gap: 8px">
                    <h3 style="margin: 0">Resumen</h3>
                    <p style="margin: 0">Efectivo S/. {{closeSalesDaySelected.cashAmount}}</p>
                    <p style="margin: 0">Visa S/. {{closeSalesDaySelected.cardAmount}}</p>
                    <p style="margin: 0">Total S/. {{closeSalesDaySelected.totalAmount}}</p>
                </div>
            </div>
        }
    </div>
    <div style="display: flex; width: 90%">
        <button mat-flat-button [routerLink]="['/home/BRANCH']" style="background-color: #eae3db; color: #d1ae6f">Regresar</button>
    </div>
</div>
