<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; gap: 16px">
    <h1 style="margin: 0">Consumo</h1>
    <div class="content">
        <div style="display: flex; flex-direction: column; gap: 16px">
            <div style="display: flex; gap: 8px; flex-wrap: wrap;">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Sede Origen</mat-label>
                    <mat-select [disabled]="savingIntakeBranch" [(ngModel)]="supplyBranch.branchId">
                        @for (branch of branches; track branch.id) {
                            <mat-option [value]="branch.id" (click)="reloadSearch(true)">{{ branch.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Identificador</mat-label>
                    <input [disabled]="savingIntakeBranch" matInput [(ngModel)]="supplyBranch.identifier">
                </mat-form-field>
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Mensaje</mat-label>
                    <input [disabled]="savingIntakeBranch" matInput [(ngModel)]="supplyBranch.comment">
                </mat-form-field>
            </div>
            <form #f="ngForm" style="display: flex; flex-direction: column; gap: 16px">
                @for (supplyBranchProduct of supplyBranch.products; track supplyBranchProduct.product.id) {
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div style="display: flex; align-items: center; gap: 16px">
                            <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 150px">
                                <mat-label>Cantidad</mat-label>
                                <input type="number" min="1" [max]="supplyBranchProduct.limit" [disabled]="savingIntakeBranch" matInput required [(ngModel)]="supplyBranchProduct.quantity" [name]="supplyBranchProduct.product.code">
                            </mat-form-field>
                            <p>{{ supplyBranchProduct.product.code }}</p>
                        </div>
                        <button [disabled]="savingIntakeBranch" mat-flat-button style="background-color: #eae3db; color: #d1ae6f" (click)="deleteFromArray($index)">Quitar</button>
                    </div>
                }
            </form>
            <div style="text-align: center">
                <button mat-flat-button [disabled]="!f.form.valid || supplyBranch.products.length === 0" (click)="saveIntakeGuide()" style="background-color: #eae3db; color: #d1ae6f">Consumir productos</button>
            </div>
        </div>
        <div style="background-color: lightgray; border-radius: 15px; display: flex; flex-direction: column; gap: 16px">
            <div style="display: flex; flex-direction: column; gap: 8px; margin-top: 8px; margin-left: 8px;">
                <h2 style="margin: 0">Productos</h2>
                <div style="display: flex; align-items: center; gap: 8px;">
                    <mat-form-field appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Código</mat-label>
                        <input matInput [(ngModel)]="productCode" (keyup.enter)="searchInventory()">
                        <button mat-icon-button matSuffix (click)="reloadSearch(false)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-flat-button (click)="searchInventory()" style="background-color: #eae3db; color: #d1ae6f">Buscar</button>
                </div>
            </div>
            <div style="overflow-y: auto; height: 400px">
                <table mat-table [dataSource]="inventories">
                    <ng-container matColumnDef="code">
                        <td mat-cell  *matCellDef="let inventory">{{inventory.product.code}}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <td mat-cell *matCellDef="let inventory">{{inventory.quantity}}</td>
                    </ng-container>

                    <tr mat-row *matRowDef="let inventory; columns: displayedColumns;" style="cursor: pointer; height: 30px" (click)="selectProduct(inventory)"></tr>
                </table>
                <mat-paginator
                        (page)="handlePageEvent($event)"
                        [length]="inventoriesSize"
                        [pageSize]="10"
                        [pageIndex]="pageIndex"
                        hidePageSize
                        showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
