.filters {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 767px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
}