<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; gap: 16px">
    <h1 style="margin: 0">Punto de Venta</h1>
    <div class="content">
        <div style="display: flex; flex-direction: column; gap: 16px">
            <div>
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Sede</mat-label>
                    <mat-select [disabled]="disableInventoryInput" [(value)]="sale.branchId">
                        @for (branch of branches; track branch.id) {
                            <mat-option [value]="branch.id" (click)="reloadSearch(true)">{{ branch.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <form #f="ngForm" style="display: flex; flex-direction: column; gap: 16px">
                @for (saleDetail of sale.detail; track saleDetail.product.id) {
                    <div class="sale-detail">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 150px;">
                            <mat-label>Cantidad</mat-label>
                            <input type="number" min="1" [max]="saleDetail.limit" [disabled]="disableInventoryInput" matInput required [(ngModel)]="saleDetail.quantity" [name]="saleDetail.product.code" (ngModelChange)="updateFinalPrice(saleDetail)">
                        </mat-form-field>
                        <div>
                            <p style="margin: 0">{{ saleDetail.product.code }}</p>
                            <p style="margin: 0">S/.{{ saleDetail.product.price }}</p>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 150px">
                                <mat-label>Descuento</mat-label>
                                <mat-select [disabled]="disableInventoryInput" [(value)]="saleDetail.discount">
                                    <mat-option (click)="updateFinalPrice(saleDetail)">--</mat-option>
                                    @for (discount of discounts; track discount.id) {
                                        <mat-option [disabled]="(discount.product && discount.product.id) && discount.product.id !== saleDetail.product.id" [value]="discount.quantity" (click)="updateFinalPrice(saleDetail)">
                                            {{ discount.name }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <p style="margin: 0;">S/.{{saleDetail.finalPrice}}</p>
                        <button [disabled]="disableInventoryInput" mat-flat-button (click)="deleteFromArray($index)" class="delete-button" style="background-color: #eae3db; color: #d1ae6f">Quitar</button>
                    </div>
                }
            </form>
            <div style="display: flex; justify-content: space-between; align-items: center">
                <p style="margin: 0">Total: S/. {{sale.finalPrice}}</p>
                <button mat-flat-button [disabled]="!f.form.valid || sale.detail.length === 0" (click)="nextStep()" style="background-color: #eae3db; color: #d1ae6f">Confirmar venta</button>
            </div>
        </div>
        <div style="background-color: lightgray; border-radius: 15px; display: flex; flex-direction: column; gap: 16px">
            @if (step === 1) {
                <div style="display: flex; flex-direction: column; gap: 8px; margin-top: 8px; margin-left: 8px;">
                    <h2 style="margin: 0">Productos</h2>
                    <div style="display: flex; align-items: center; gap: 8px;">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Código</mat-label>
                            <input matInput [(ngModel)]="productCode" (keyup.enter)="searchInventory()">
                            <button mat-icon-button matSuffix (click)="reloadSearch(false)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-flat-button (click)="searchInventory()" style="background-color: #eae3db; color: #d1ae6f">Buscar</button>
                    </div>
                </div>
                <div style="overflow-y: auto; height: 400px">
                    <table mat-table [dataSource]="inventories">
                        <ng-container matColumnDef="code">
                            <td mat-cell *matCellDef="let inventory">{{inventory.product.code}}</td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <td mat-cell *matCellDef="let inventory">{{inventory.quantity}}</td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <td mat-cell *matCellDef="let inventory">S/. {{inventory.product.price}}</td>
                        </ng-container>

                        <tr mat-row *matRowDef="let inventory; columns: displayedColumns;" style="cursor: pointer; height: 30px" (click)="selectProduct(inventory)"></tr>
                    </table>
                    <mat-paginator
                            (page)="handlePageEvent($event)"
                            [length]="inventoriesSize"
                            [pageSize]="10"
                            [pageIndex]="pageIndex"
                            hidePageSize
                            showFirstLastButtons>
                    </mat-paginator>
                </div>
            } @else {
                <div style="margin-top: 8px; margin-left: 8px;">
                    <h2 style="margin: 0">Información de pago</h2>
                </div>
                <form #fPayment="ngForm" style="display: flex; flex-direction: column; gap: 16px; margin-left: 10px">
                    <div>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Fecha de Venta</mat-label>
                            <input matInput required [matDatepicker]="picker" [(ngModel)]="sale.date" name="paymentDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Monto Efectivo</mat-label>
                            <input type="number" matInput min="0" [disabled]="disablePaymentInput" [(ngModel)]="paymentMethods.cashAmount" name="cashAmount">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Monto Visa</mat-label>
                            <input type="number" matInput min="0" [disabled]="disablePaymentInput" [(ngModel)]="paymentMethods.cardAmount" name="cardAmount">
                        </mat-form-field>
                    </div>
                </form>
                <div style="margin-left: 10px">
                    <button mat-flat-button [disabled]="!fPayment.form.valid" (click)="savePaymentMethods()" style="background-color: #eae3db; color: #d1ae6f">Guardar formas de pago</button>
                    <p>Total Pagado: S/. {{payedPrice}}</p>
                    <p>Total: S/. {{sale.finalPrice}}</p>
                    <p>Vuelto: S/. {{change}}</p>
                    <button mat-flat-button [disabled]="payedPrice == 0 || savingSale" (click)="createPayment()" style="margin-bottom: 10px; background-color: #eae3db; color: #d1ae6f">Confirmar pago</button>
                </div>
            }
        </div>
    </div>
</div>
